<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme">
        <activity android:name=".ui.activity.RecycleNCardViewActivity"></activity>
        <activity
            android:name=".ui.activity.NavigationDrawerActivity"
            android:theme="@style/AppMaterialTheme.TransparentStatusBarTheme" />
        <activity android:name=".ui.activity.CollapsingToolbarActivity" />
        <activity android:name=".ui.activity.AppBarLayoutActivity" />
        <activity android:name=".ui.activity.AppBarCollapsingToolbarActivity" />
        <activity android:name=".ui.activity.FloatingLabelEditTextActivity" />
        <activity android:name=".ui.activity.TransitionActivity" />
        <activity android:name=".ui.activity.SharedElementActivity" />
        <activity android:name=".ui.activity.RippleEffectActivity" />
        <activity android:name=".ui.activity.AnimationActivity" />
        <activity android:name=".ui.activity.BasicComponentActivity" />
        <activity android:name=".ui.activity.ContextualMenuActivity" />
        <activity android:name=".ui.activity.ToolbarAsActionbarActivity" />
        <activity android:name=".ui.activity.StandaloneToolbarActivity" />
        <activity android:name=".ui.activity.ToolbarsActivity" />
        <activity android:name=".ui.activity.ColorPaletteActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>